* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
  border: 1px solid black; 
}


/* Add your code here */

.flex-container{
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  align-content: space-between;
  height: 250px;
  
}

.item1{
  order: 1;
}