extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='./catalog') countries in the world and their capitals. 
  br
  a(href='./population/') countries that have at least 20 million in population.
  br
  a(href='./users/') number of countries in each region
  br
  a(href='./all') all
  p #{writeHere1}
  p Hello