* {
  font-family: sans-serif;
  font-size: 1.1em;
  color: rgb(44, 44, 44);
  width: 95%;
 
}

/*  Testing borders
html{
  border: 5px solid rgb(15, 145, 134);
}

body{
  border: 5px solid rgb(236, 127, 2);
}

section{
  border: 5px solid rgb(154, 236, 2);
}

nav{
  border: 3px solid rgb(230, 62, 112);
 
}
*/

ul {
  border: 1px solid rgb(5, 56, 35);
}


li{
  
  display: inline;  /* Horizontal display */ 
  padding: 0px 60px 0px 60px;   /*top right middle left */ 
  
}


a{

  font-style: italic;
  text-decoration: none;  /* remove underline */

}

/* : is psudo class*/

a:focus{
  text-decoration: underline;
  color: rgb(0, 4, 238);
}

a:hover {
  color: rgb(230, 62, 62);
}


a.active{
  background-color: rgb(238, 0, 131);
}
