* {
  font-family: sans-serif;
  font-size: 1.1em;
  color: rgb(14, 15, 15);
}

li{ 
  
  display: inline; /* Horizontal display */ 
}

a{ 
  text-decoration: none;  /* remove underline */
  padding: 0px 70px 0px 70px;
}

:hover{     /* change color when cursor over an element */
  color: rgb(16, 132, 148);
}
:focus{    /* underline and change color when on a set page */
  text-decoration: underline;
  color: rgb(16, 132, 148);
}

:active{   /* chage the color when something is clicked on */
  color: rgb(255, 0, 0);
}
