body {
  background-color: #006060;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ccc;
  text-align: center;
}

/* Colors used include:
    - #aaa;
    - #006060;
    - #008080;
*/

fieldset{
  display: inline-block;
  color: black;
  background-color: #ccc;
  border: #ccc;
  min-width: 468px;
  max-width: 768px;
}


form{
  
}

textarea{
  min-width: 468px;
  max-width: 768px;
}

form>p{
  text-align: left;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 1px rgb(243, 11, 127);

}
input[type="checkbox"] {
}


div.checkBoxWrapper{
  background-color: blue;
  width: 10px;
  height: 10px;
}

#contactFormlegend{
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  color: #008080;
}