/* Colors used include:
    - #aaa;
    - #006060;
    - #008080;
*/

label {
  color: rgb(0, 0, 0);
}

input:focus, textarea:focus{
  border: solid 1px rgb(79, 79, 223);	
}

form > p {
  text-align:left;
}

/* Red Square to require name and email */
.error {
  border:2px solid red;
}


/** https://dev.to/proticm/styling-html-checkboxes-is-super-easy-302o */


/* checkbox not check */
.checkbox {
  -webkit-appearance: none;
	background-color: #ffffff;
  border: 1px solid #8b8b8b;
  height: auto;
  width: auto;
  padding: 9px;
	border-radius: 1px;
  position: relative;
  top:7px;
  display: inline-flex;
  cursor: pointer;
}
/* active on click*/
.checkbox:active, .checkbox:checked:active {
 /*  box-shadow: 0 1px 2px rgba(251, 255, 0, 0.05), inset 0px 1px 3px rgba(0,0,0,0.1); */
  height: auto;
  width: auto;
}

/* checkbox background*/
.checkbox:checked {
	background-color: #1699f0;
	border: 1px solid #8b8b8b;
/*   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
 */  height: auto;
  width: auto;
	color: #99a1a7;
}

/* check mark style */
.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
  left: 3px;
	color: #ffffff;
}

button {
  background-color: #006060;
  color: white;
  border: 0px;
  width: 80%;
  height: 2em;
}


#contactFormlegend {
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  color: #008080;
}

@media (max-width: 468px) {

  #contactFormlegend {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    color: #008080;
  }

  body {
    font-size: 13px;
    background-color: #006060;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    color: #ccc;
    text-align: center;
  }

  fieldset {
    display: inline-block;
    color: black;
    background-color: #006060;
    border: #ccc;
    min-width: 100px;
    max-width: 200px;
    min-height: 80%;
  }

  
textarea {
  min-width: 200px;
  max-width: 195px;
  min-height: 200px;
  max-height: 400px;
}

}


@media (min-width: 469px) and (max-width: 768px) {
  body {
    background-color: #006060;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    color: #ccc;
    text-align: center;
  }

  fieldset {
    display: inline-block;
    color: black;
    background-color: #ccc;
    border: #ccc;
  }

  
textarea {
  min-width: 300px;
  max-width: 400px;
  min-height: 150px;
  max-height: 300px;
}

}

@media (min-width: 769px) {
  body {
    background-color: #006060;;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
  }

  fieldset {
    display: inline-block;
    background-color: #ccc;
    border: #ccc;
  }
  
textarea {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
}

}
