/* Colors used include:
    - #aaa;
    - #006060;
    - #008080;
*/

label {
  color: rgb(0, 0, 0);
}

input:focus, textarea:focus{
  border: solid 1px rgb(79, 79, 223);	
}



form > p {
  text-align: left;
}
.error {
  border:2px solid red;
}


/** https://dev.to/proticm/styling-html-checkboxes-is-super-easy-302o */

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: rgb(0, 0, 0);
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(78, 78, 78);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid rgb(24, 143, 255);
  background-color: rgb(29, 132, 235);
}

.checkbox > input:checked + span::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}

button {
  background-color: #006060;
  color: white;
  border: 0px;
  width: 80%;
  height: 2em;
}


#contactFormlegend {
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  color: #008080;
}

@media (max-width: 468px) {

  #contactFormlegend {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    color: #008080;
  }

  body {
    font-size: 13px;
    background-color: #9be721;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    color: #ccc;
    text-align: center;
  }

  fieldset {
    display: inline-block;
    color: black;
    background-color: #ccc;
    border: #ccc;
    min-width: 100px;
    max-width: 200px;
    min-height: 80%;
  }

  
textarea {
  min-width: 200px;
  max-width: 195px;
  min-height: 200px;
  max-height: 400px;
}

}


@media (min-width: 469px) and (max-width: 768px) {
  body {
    background-color: #006060;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    color: #ccc;
    text-align: center;
  }

  fieldset {
    display: inline-block;
    color: black;
    background-color: #ccc;
    border: #ccc;
  }

  
textarea {
  min-width: 300px;
  max-width: 400px;
  min-height: 150px;
  max-height: 300px;
}

}

@media (min-width: 769px) {
  body {
    background-color: #f3fdfd;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
  }

  fieldset {
    display: inline-block;
    background-color: #ccc;
    border: #ccc;
  }
  
textarea {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
}

}
